body {
    color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}

.app .header {
    margin: 25px 0px;
}

.app .main .gallery {
    margin: 0 auto;
}
.app .main .gallery img {
    opacity: 0.5;
}
.app .main .gallery img:hover {
    opacity: 1.0;
    cursor: pointer;
}

.app .main .lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.app .main .lightbox img {
    width: 80%;
    height: 132px;
}

.app .main .lightbox .content {
    width: 250px;
    height: 132px;
    margin: 10% auto;
    padding: 30px 0px;
}

.app .main .lightbox .prev {
    float: left;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
}
.app .main .lightbox .next {
    float: right;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
}
.app .main .lightbox .prev,
.app .main .lightbox .next {
    width: 10%;
    height: 132px;
    background-color: #D8D8D8;
    opacity: 0.7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.app .main .lightbox .prev div,
.app .main .lightbox .next div {
    line-height: 132px;
}
.app .main .lightbox .prev:hover,
.app .main .lightbox .next:hover {
    background-color: #A9A9A9;
    cursor: pointer;
}
